<div class="row">
  <div class="header col-lg-12">
      <h1>ログインボタンが入るエリア目印で黄色</h1>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 color-white">いい感じのテキストをここにかく</h1>
    <p class="lead color-white">いい感じのサブテキストをここに書く</p>
  </div>
</div>

<hr>

<div class="request_wrapper">
  <h1>新着リクエスト</h1>

  <div class="row">
    <% @requests_timely.each do |timely| %>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="/requests/<%= timely.id %>">
            <img class="card-img-top" src="<%= "/request_images/#{timely.image_name}" %>">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <%= link_to(timely.title, "/requests/#{timely.id}") %>
            </h4>
            <p class="card-text"><%= timely.content %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

</div>
