// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.jumbotron {
  background-image: url(/images/sukeru_top2.png);
  background-size: cover;
}
*/
.description {
  margin: 30px 20px;
}

.main-description {
  font-size: 20px;
}

.top-img {
  text-align: center;
}

.color-white {
  color: white;
}

.portfolio-item {
  padding: 20px;
}
