// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-color: yellow;
}

.jumbotron {
  background-image: url(/images/helper.jpg);
  background-size: cover;
}

.color-white {
  color: white;
}

.portfolio-item {
  padding: 20px;
}
